@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------------------typoGraphy------------------------------------- */
.max-width {
    /* width: 1300px; */
    padding: 0 80px;
    margin: auto;
}

/*-------------------------------------nav styling-------------------------------------*/
.navbar {
    position: fixed;
    width: 100%;
    /* background: #ff0000; */
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
    transition: all 0.4s ease;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    background: #401EB7;
    padding: 10px 0;
    z-index: 99999;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.9s ease;
}

.navbar .logo a {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.navbar #menuBar li {
    list-style: none;
    display: inline-block;
}

.navbar.sticky #menuBar li a:hover {
    color: crimson;
}

.navbar #menuBar li a:hover {
    color: crimson;
}

.navbar #menuBar li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/*---------------------------------menu btn styling---------------------------------*/
.menu-btn {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* --------------------------------home section styling-------------------------------- */
.home {
    display: flex;
    background: url(../images/bannar4.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-one {
    font-size: 27px;
}

.home .home-content .text-two {
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-three {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-three span {
    color: crimson;
    font-weight: 600;
}

.home .home-content a {
    display: inline-block;
    background: #401EB7;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #401EB7;
    transition: all 0.3s ease-in-out;
}

.home .home-content a:hover {
    background: none;
    color: #401EB7;
}

/* ---------------------------about me section designing--------------------------- */
section {
    padding: 100px 0;
}

.about {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #000;
    transform: translateX(-50%);
}

.about .title::after {
    content: 'who am i';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: #401EB7;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content,
.services .services-content,
.skill .skill-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 7px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text-one {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text-one span {
    color: #401EB7;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    color: #fff;
    background: #401EB7;
    border: 2px solid #401EB7;
    transition: all 0.4s ease-in-out;
}

.about .about-content .right a:hover {
    color: #401EB7;
    background: none;
}

/* ---------------------------------------Section Designing---------------------------- */
.services {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #111;
}

.services .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.services .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%);
}

.services .title::after {
    content: 'what i provide';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #111;
    transform: translateX(-50%);
}

.services .services-content .card {
    width: calc(33% - 20px);
    background: #333;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;

}

.services .services-content .card:hover {
    background: #401EB7;
}

.services .services-content .card .box {
    transition: all 0.3s ease;
}

.services .services-content .card:hover .box {
    transform: scale(1.05);
}

.services .services-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .services-content .card:hover i {
    color: #fff;
}

.services .services-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* ---------------------------------------Skill Designing---------------------------- */
.skill {
    font-family: 'Poppins', sans-serif;
}

.skill .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.skill .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}

.skill .title::after {
    content: 'what i know';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: #401EB7;
    background: #fff;
    transform: translateX(-50%);
}

.skill .skill-content .column {
    width: calc(50% - 30px);
}

.skill .skill-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}

.skill .skill-content .left p {
    text-align: justify;
}

.skill .skill-content .left a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    color: #fff;
    background: #401EB7;
    border: 2px solid #401EB7;
    transition: all 0.4s ease-in-out;
}

.skill .skill-content .left a:hover {
    color: #401EB7;
    background: none;
}

.skill .skill-content .right .bars {
    margin-bottom: 15px;
}

.skill .skill-content .right .info {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

.skill .skill-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skill .skill-content .right .line {
    height: 6px;
    width: 100%;
    background: lightgray;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.skill .skill-content .right .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #401EB7;
    border-radius: 5px 0 0 5px;
    transition: all 1s ease;


}

//.skill .skill-content .right:hover .line::before
    {
    left: 0;
}

.skill .skill-content .right .html::before {
    width: 90%;
}

.skill .skill-content .right .css::before {
    width: 60%;
}

.skill .skill-content .right .javascript::before {
    width: 75%;
}

.skill .skill-content .right .php::before {
    width: 50%;
}

.skill .skill-content .right .mysql::before {
    width: 70%;
}

/* ---------------------------------------Teams Designing---------------------------- */

.teams {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #111;
}

.teams .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.teams .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%);
}

.teams .title::after {
    content: 'who with me';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #111;
    transform: translateX(-50%);
}

.teams .carousel .card {
    background: #333;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.teams .carousel .card:hover {
    background: #401EB7;
}

.teams .carousel .card .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #401EB7;
    transition: border 0.3s ease;

}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    width: 13px;
    height: 13px;
    margin: 0 5px;
    outline: none !important;
    border: 2px solid crimson !important;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson !important;
}


/* ---------------------------------Contact styling--------------------------------- */

.contact {
    font-family: 'Poppins', sans-serif;
}

.contact .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #000;
    transform: translateX(-50%);
}

.contact .title::after {
    content: 'get in touch';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;

}

.contact .contact-content .left {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 65px;
}

.contact .contact-content .row .info {
    margin-left: 35px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #401EB7;
}

.contact .contact-content .row .head {
    font-weight: 500;
}

.contact .contact-content .row .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .fields .name {
    margin-right: 10px;
}

.contact .right form .fields .email {
    margin-left: 10px;
}

.contact .right form .field,
.contact .right form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;

}

.contact .right form .field input,
.contact .right form .textarea textarea {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border-radius: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
    border: 1px solid lightblue;
}

.contact .right form .button {
    width: 170px;
    height: 48px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    background: #401EB7;
    border-radius: 6px;
    border: 2px solid #401EB7;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .button button:hover {
    background: none;
    color: #401EB7;
}

/* footer section */
footer {
    font-family: 'Poppins', sans-serif;
}

footer {
    padding: 16px 20px;
    background: #222;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span a {
    color: crimson;
}

footer span a:hover {
    text-decoration: underline;
}

footer span .copy {
    font-size: 20px;
    color: crimson;
}

.social-share {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    min-height: 110px;
    /*    flex-direction: column;*/
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 80px;
}

.child .icon {
    position: relative;
    font-size: 2em;
    color: var(--clr);
    transition: 0.2s ease;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child:hover .icon {
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));

}

.child .text {
    color: var(--clr);
    display: none;
    overflow: hidden;
    z-index: 1000;
}

.child .rotate {
    position: relative;
}

.child .rotate::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    background: var(--clr);
    transform: skewX(45deg);
    opacity: 0.6;
    transition: 0.5s;
}

.child .rotate::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -120%;
    background: #fff;
    transform: skewX(45deg);
    opacity: 0.2;
    transition: 0.5s;

}

.child:hover .rotate::after {
    right: -50%
}

.child:hover .rotate::before {
    left: -50%
}

.child .icon a {
    color: var(--order);
}





/* ---------------------------------returnTotop styling--------------------------------- */
.returnTotop a {
    font-size: 45px;
    color: crimson;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999999;
    display: none;
}

.returnTotop .rtt {
    display: block;
}



/* ----------------------------responsive media query start---------------------------- */

@media (max-width:1300px) {
    .home .max-width {
        margin-left: 0;
    }
}

@media (max-width:1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;

    }
}

@media (max-width:947px) {
    .max-width {
        padding: 0 50px;
    }

    .navbar #menuBar {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;

        left: -100%;
        background: #111;
        padding-top: 90px;
        text-align: center;
        transition: all 0.3s ease;


    }

    .navbar #menuBar.active {
        left: -20%;
    }

    .navbar #menuBar li {
        display: block;
    }

    .navbar #menuBar li a {
        display: inline-block;
        padding: 20px 0;
    }

    .menu-btn i.active::before {
        content: "\f00d";
        color: crimson;
    }

    .menu-btn {
        display: block;
        z-index: 9999;
    }

    .returnTotop .rtt {
        display: none;
    }

    .home .home-content .text-two {
        font-size: 60px;
    }

    .home .home-content .text-three {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .services-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skill .skill-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width:690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-two {
        font-size: 50px;
    }

    .home .home-content a {
        font-size: 20px;

    }

    .services .services-content .card,
    .skill .skill-content .column,
    .contact .contact-content .column {
        width: 100%;
    }

}

@media (max-width:690px) {

    .home .home-content .text-two {
        font-size: 65px;
    }

}

@media (max-width:320px) {

    .home .home-content .text-one {
        font-size: 24px;
    }

    .home .home-content .text-two {
        font-size: 50px;
    }

    .home .home-content .text-three {
        font-size: 30px;
    }

    .about .about-content .left img {
        height: 280px;
        width: 280px;

    }

    .services .title::after {

        padding: 5px;
        font-size: 16px;

    }

}

@media (max-width:448px) {

    .home .home-content .text-one {
        font-size: 18px;
    }

    .home .home-content .text-two {
        font-size: 35px;
    }

    .home .home-content .text-three {
        font-size: 24px;
    }

    .services .title::after {

        padding: 5px;
        font-size: 16px;

    }

}
